* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
$bg-color-primary: #0e141b;

$font-primary: "Poppins", sans-serif;
$color-primary: #fdfeff;
$color-secondary: white;
$color-tertiary: #2563eb;

$font-weight-bold: 800;
$font-weight-medium: 600;
$font-weight-regular: 400;
/*-------------------------------------------Main-container------------------------------------*/
.main-container {
  background: $bg-color-primary;
  height: 100%;
  width: 100%;
}
.circle {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  pointer-events: none; /* Prevent interaction */
}
/*---------------------------------------Home-Page-----------------------------------------*/
.home-page {
  height: 100%;
  width: 100%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 3vw;
  position: sticky;
  top: 0;
  width: 100%;
}
nav h2 {
  color: $color-primary;
  font-family: $font-primary;
  font-weight: $font-weight-medium;
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.705);
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.burger {
  color: white;
}
.linkedin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.linkedin h4 {
  color: $color-primary;
  font-family: $font-primary;
  font-weight: $font-weight-regular;
}
.linkedin a {
  color: white;
}
.menu h4 {
  background-color: black;
  border-radius: 20px;
  padding: 6px 10px;
  color: $color-primary;
}
.name {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 100px;
}
.name1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.letter {
  opacity: 0;
  font-size: 7rem;
  color: $color-primary;
}
.name h2 {
  font-size: 7rem;
  font-weight: $font-weight-medium;
  text-transform: uppercase;
  position: relative;
  color: white;
  -webkit-text-stroke: 1px #040000;
  z-index: 1;
  font-family: $font-primary;
  margin-top: 30px;
}
.name h2::before {
  position: absolute;
  // content: "RAIED AHMAD";
  bottom: -2px;
  right: -4px;
  color: white;
}
.name h4 {
  font-size: 3rem;
  font-weight: $font-weight-medium;
  text-transform: uppercase;
  position: relative;
  color: rgb(0, 0, 0);
  -webkit-text-stroke: 1px #040000;
  z-index: 1;
  font-family: $font-primary;
  font-weight: $font-weight-medium;
  margin-bottom: 30px;
}
.name h4::before {
  position: absolute;
  content: "FRONT-END DEVELOPER";
  bottom: -2px;
  right: -4.5px;
  color: #e1e1e1;
}
.name p {
  color: $color-secondary;
  font-family: $font-primary;
  font-weight: 400;
  font-weight: $font-weight-medium;
}
/*----------------------------------Home-Page-Media-Quesries-----------------------------------*/
@media (max-width: 425px) {
  .menu h4 {
    display: none;
  }
  .circle {
    display: none;
  }
  .name h2 {
    font-size: 2.9rem;
    // margin-bottom: 10px;
  }
  .name h2::before {
    bottom: -2px;
    right: -2.5px;
  }
  .name h4 {
    font-size: 1.6rem;
    margin-bottom: 0px;
  }
  .name h4::before {
    bottom: -1px;
    right: -2.5px;
  }
  .name p {
    text-align: center;
    font-size: $font-weight-regular;
  }
  .letter {
    font-size: 2.5rem;
  }
}
/*----------------------About-Page--------------------------------------------------------*/
.about-page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-color-primary;
}
.main {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  display: flex;
}
.intro-text {
  color: $color-primary;
  font-weight: $font-weight-regular;
  font-family: $font-primary;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.intro-text p {
  margin-left: 80px;
  text-align: center;
}
.image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image img {
  height: 350px;
  width: 300px;
  transform: rotate(-5deg);
  transition: transform 0.3s ease;
}
.image img:hover {
  transform: rotate(0deg);
}
/*----------------------About-Page-MEdia-Queries-------------------------------------------*/

@media (max-width: 425px) {
  .main {
    flex-direction: column;
  }
  .intro-text {
    color: $color-primary;
    font-size: 0.7rem;
    padding: 10px;
    width: 100%;
  }
  .image {
    width: 100%;
  }
  .image img {
    height: 230px;
    width: 180px;
    margin: 20px;
  }
  .intro-text p {
    margin: 0px 20px;
  }
}
